video {
    display: block;
    max-width: 100%;
}
.case-example-new--vid {
    margin-bottom: -1px;
}

.works-card__img img {
  transition: 0.6s ease-out;
}
.works-card__img:hover img {
  transition: 0.6s ease-out;
}
.case__header .case-text__disc {
    font-size: 20px;
    @media (max-width: 639px) {
       font-size: clamp(16px,16px + (20 - 16) * ((100vw - 320px)/(640 - 320)),20px);
    }
}
html,body {
    scroll-behavior: smooth;
}
body {
    position: relative;
}
.footer {
    -webkit-transform: translate3d(0, 0, 0);
    transform : translate3d(0, 0, 0);
}
.image-lazy{
    width: 100%;
}
.image-lazy img {
    width: 100%;
}
.header__content {
    box-sizing: border-box;
    height: 92px;
    transition: padding 0s;
    @media (max-width: 960px) {
    height: 84px;
    }
}
.case__header {
    margin-top: 0;
}
.case__content > .case-text {
    margin-top: 0;
}
.footer {
    position: sticky;
    right: 0;
    padding-top: 580px;
    z-index: 1;
    @media (max-width: 960px) {
    padding-top: 720px;
    }
    @media (max-width: 639px) {
    padding-top: clamp(620px,620px + (720 - 620) * ((100vw - 320px)/(640 - 320)),720px);
    }
}
.page__inner {
    padding-bottom: 0!important;
    position: relative;
    z-index: 10;
    background: #fff;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background: #FFE457;
    }
} 
.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    transition: all .3s .1s ease-out;
    &.open {
        visibility: visible;
        opacity: 1;
        transition: all .3s ease-out;
        .modal__content {
            opacity: 1;
            transform: translateY(0);
            transition: all .3s .1s ease-out;
        }
    }
    .btn-main {
        position: fixed;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1000;
        @media (max-width: 1830px) {
            bottom: 40px;
        }
    }
    .case__body {
        background-color: #fff;
    }
    .case-cards {
        padding-top: 160px;
        margin-top: -1px;
        padding-bottom: 120px;
        @media (max-width: 768px) {
           padding-top: 120px;
        }
        @media (max-width: 639px) {
           padding-top: 80px;
        }
    }
    .case__header .title-h1,
    .case__header .case-text__disc {
        color: #fff;
    }
}
.modal__overlay {
    padding: 80px 40px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(5px);
    overflow: auto;
    @media (max-width: 1830px) {
        padding: 80px 20px 20px ;
    }
    @media (max-width: 639px) {
        padding: 60px 10px 20px ;
    }
}
.modal__content {
    width: 100%;
    max-width: 1620px;
    margin: auto;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    transition: all .3s ease-out;
}
.modal__close {
    padding: 0 4px;
    border: 2px solid rgba(255, 255, 255, 0.60);
    position: fixed;
    top: 80px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
    transition: all  .3s ease;
    &:hover {
        border-color: #fff;
        svg {
            stroke: #fff;
        }
    }
    svg {
        stroke: rgba(255, 255, 255, 0.60);
        display: block;
        width: 42px;
        height: 42px;
        pointer-events: none;
        transition: all .3s ease;
    }
    @media (max-width:1830px) {
        top: 20px;
        right: 20px;
    }
    @media (max-width: 639px) {
    right: 10px;
    top: 10px;
    padding: 0 2px;
    border: 1px solid #fff;
    svg {
        width: 32px;
        height: 32px;
        stroke: #fff;
    }
}
}
.js-pageup{
    position: fixed;
    bottom: 80px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
    transform: translateY(10px);
    &.show {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
    &:hover {
        svg {
            stroke: #fff;
        }
    }
    svg {
        stroke: rgba(255, 255, 255, 0.60);;
        display: block;
        width: 54px;
        height: 54px;
        pointer-events: none;
        transition: all .3s ease;
    }
    @media (max-width:1830px) {
        right: 20px;
        bottom: 40px;
        background: #000;
        padding: 2px;
        border-radius: 50%;
    }
    @media (max-width: 639px) {
    right: 10px;
    svg {
        width: 36px;
        height: 36px;
        stroke: #fff;
    }
}
}