video {
  display: block;
  max-width: 100%;
}

.case-example-new--vid {
  margin-bottom: -1px;
}

.works-card__img img {
  -webkit-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.works-card__img:hover img {
  -webkit-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}

.case__header .case-text__disc {
  font-size: 20px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.footer {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.image-lazy {
  width: 100%;
}

.image-lazy img {
  width: 100%;
}

.header__content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 92px;
  -webkit-transition: padding 0s;
  -o-transition: padding 0s;
  transition: padding 0s;
}

.case__header {
  margin-top: 0;
}

.case__content > .case-text {
  margin-top: 0;
}

.footer {
  position: sticky;
  right: 0;
  padding-top: 580px;
  z-index: 1;
}

.page__inner {
  padding-bottom: 0 !important;
  position: relative;
  z-index: 10;
  background: #fff;
}

.page__inner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: #FFE457;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: hidden;
  -webkit-transition: all 0.3s 0.1s ease-out;
  -o-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.modal.open .modal__content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0.3s 0.1s ease-out;
  -o-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
}

.modal .btn-main {
  position: fixed;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1000;
}

.modal .case__body {
  background-color: #fff;
}

.modal .case-cards {
  padding-top: 160px;
  margin-top: -1px;
  padding-bottom: 120px;
}

.modal .case__header .title-h1,
.modal .case__header .case-text__disc {
  color: #fff;
}

.modal__overlay {
  padding: 80px 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  overflow: auto;
}

.modal__content {
  width: 100%;
  max-width: 1620px;
  margin: auto;
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.modal__close {
  padding: 0 4px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  position: fixed;
  top: 80px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal__close:hover {
  border-color: #fff;
}

.modal__close:hover svg {
  stroke: #fff;
}

.modal__close svg {
  stroke: rgba(255, 255, 255, 0.6);
  display: block;
  width: 42px;
  height: 42px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.js-pageup {
  position: fixed;
  bottom: 80px;
  right: 50px;
  cursor: pointer;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.js-pageup.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.js-pageup:hover svg {
  stroke: #fff;
}

.js-pageup svg {
  stroke: rgba(255, 255, 255, 0.6);
  display: block;
  width: 54px;
  height: 54px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1830px) {
  .modal .btn-main {
    bottom: 40px;
  }

  .modal__overlay {
    padding: 80px 20px 20px;
  }

  .modal__close {
    top: 20px;
    right: 20px;
  }

  .js-pageup {
    right: 20px;
    bottom: 40px;
    background: #000;
    padding: 2px;
    border-radius: 50%;
  }
}

@media (max-width: 960px) {
  .header__content {
    height: 84px;
  }

  .footer {
    padding-top: 720px;
  }
}

@media (max-width: 768px) {
  .modal .case-cards {
    padding-top: 120px;
  }
}

@media (max-width: 639px) {
  .case__header .case-text__disc {
    font-size: clamp(16px, 16px + 4 * (100vw - 320px) / 320, 20px);
  }

  .footer {
    padding-top: clamp(620px, 620px + 100 * (100vw - 320px) / 320, 720px);
  }

  .modal .case-cards {
    padding-top: 80px;
  }

  .modal__overlay {
    padding: 60px 10px 20px;
  }

  .modal__close {
    right: 10px;
    top: 10px;
    padding: 0 2px;
    border: 1px solid #fff;
  }

  .modal__close svg {
    width: 32px;
    height: 32px;
    stroke: #fff;
  }

  .js-pageup {
    right: 10px;
  }

  .js-pageup svg {
    width: 36px;
    height: 36px;
    stroke: #fff;
  }
}