.case-item {
  margin-bottom: 80px;
}

@media (max-width: 1700px) {
  .case-item {
    margin-bottom: 50px;
  }

  .case-text {
    margin: 50px 0 !important;
  }

  .case-cards {
    margin-top: 50px !important;
  }
}